/* Login10 */

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto Sans:wght@400;500;600&display=swap");

p {
  margin: 0;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col-hcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-hcenter {
  justify-content: center;
}

.flex-row-vstart-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-hend {
  justify-content: flex-end;
}

.flex-col-hcenter-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login-10 {
  position: relative;
  padding: 0px 0px 9px 0px;
  box-sizing: border-box;
  background: url(https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/am5artmnfi4-1%3A3597?alt=media&token=d276bf02-8b76-4460-b3d4-1125bc7fab5d),
    linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-size: 100% 100%;
  width: 400px;
  height: flex;
}

.group-578 {
  width: 100%;
  height: 100%;
}

.ios-status-bar-black {
  height: 44px;
  margin-bottom: 118px;
  width: 100%;
}

.page-header {
  padding: 0px 86px 0px 89px;
  margin-bottom: 42px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-2910 {
  font-size: 48px;
  font-family: Comfortaa, display;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 7px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  word-wrap: break-word;
}

.page-header-1 {
  padding: 0px 86px 0px 89px;
  margin-bottom: 21px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-2910 {
  font-size: 48px;
  font-family: Comfortaa, display;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 7px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  word-wrap: break-word;
}

.input-text {
  padding: 15px 14px 16px 15px;
  margin-bottom: 25px;
  box-sizing: border-box;
  border-radius: 8px;
  background: linear-gradient(
      0deg,
      rgba(246, 246, 246, 1),
      rgba(246, 246, 246, 1)
    ),
    url(https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/am5artmnfi4-I1%3A3312%3B1%3A8?alt=media&token=221a4f11-e07f-4864-8262-817538852704);
  background-size: 100% 100%;
  border: 1px solid rgba(232, 232, 232, 1);
  width: fit-content;
}

.txt-611 {
  font-size: 16px;
  font-family: Noto Sans, sans-serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: rgba(189, 189, 189, 1);
  word-wrap: break-word;
}

.input-text-1 {
  padding: 15px 14px 16px 15px;
  margin-bottom: 25px;
  box-sizing: border-box;
  border-radius: 8px;
  background: linear-gradient(
      0deg,
      rgba(246, 246, 246, 1),
      rgba(246, 246, 246, 1)
    ),
    url(https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/am5artmnfi4-I1%3A3312%3B1%3A8?alt=media&token=221a4f11-e07f-4864-8262-817538852704);
  background-size: 100% 100%;
  border: 1px solid rgba(232, 232, 232, 1);
  width: fit-content;
}

.txt-5610 {
  font-size: 16px;
  font-family: Noto Sans, sans-serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: rgba(189, 189, 189, 1);
  word-wrap: break-word;
  margin-right: 204px;
}

.txt-515 {
  font-size: 16px;
  font-family: Noto Sans, sans-serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: rgba(253, 116, 117, 1);
  text-align: right;
  word-wrap: break-word;
}

.txt-476 {
  font-size: 17px;
  font-family: Noto Sans, sans-serif;
  font-weight: 600;
  line-height: 94%;
  letter-spacing: 0.1px;
  color: rgba(253, 116, 117, 1);
  word-wrap: break-word;
  margin-bottom: 31px;
}

.button-primary {
  padding: 15px 31px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: rgba(253, 116, 117, 1);
  width: fit-content;
}

.txt-624 {
  font-size: 17px;
  font-family: Noto Sans, sans-serif;
  font-weight: 600;
  line-height: 94%;
  letter-spacing: 0.1px;
  
  text-align: center;
  word-wrap: break-word;
}

.cont {
  margin-bottom: 17px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-969 {
  font-size: 17px;
  font-family: Noto Sans, sans-serif;
  font-weight: 600;
  line-height: 94%;
  letter-spacing: 0.1px;
  color: rgba(246, 246, 246, 1);
  text-align: center;
  width: 149px;
  height: 37px;
  word-wrap: break-word;
  margin-bottom: 154px;
}

.txt-784 {
  font-size: 13px;
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 0.1px;
  color: rgba(246, 246, 246, 1);
  text-align: center;
  width: 374px;
  height: 20px;
  word-wrap: break-word;
}

.txt-7842 {
  font-weight: 700;
}

.home-indicator {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 1);
  border: 0px solid rgba(151, 151, 151, 1);
  width: 139.36px;
  height: 5.03px;
}

.thirdparty {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: -150px;
  width: 178.38px;
  height: 33.38px;
}